.background-1{
    background-color: #005760;

}

.img{
    border-radius: 1%;
}

.title{
    font-family: 'Open Sans Condensed';
    font-style: bold;
    color: #ffda00;
    text-align: center;
}


.title-2{
    font-family: 'Open Sans Condensed';
    font-size:30px;
    color: #ffda00;
    text-align: center;
}


.title-3{
    font-family: 'Open Sans Condensed';
    font-size:20px;
    font-weight:bold;
    color: rgb(252, 252, 252);
    text-align: left;
}

.hide {
    display: none;
  }
      
.desc:hover + .hide {
    background-color: rgba(170, 166, 166, 0.699);
    font-family: 'Open Sans Condensed';
    border-radius: 3px;
    display: block;
    font-size:20px;
    color: #fdfdfc;
}